{% extends 'elements/base.html' %}

{% block title %}
Crypto Wallet | My Wallets
{% endblock %}

{% block style %}
{% endblock %}


{% block content %}
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0" style="display: none;">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <!-- All user's wallets -->
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Кошельки</h4>
                        </div>
                        <div id="wallets_list" class="row card-body py-2 my-25">
                            <!-- Wallet -->
<!--                            <div class="col-xl-6 col-md-12 col-sm-12">-->
<!--                                <div class="card shadow-none border cursor-pointer">-->
<!--                                    <div class="card-body">-->
<!--                                        <div class="d-flex">-->
<!--                                            <a href="#" class="me-25">-->
<!--                                                <img src="{{ url_for('static', path='/app-assets/images/svg/ethereum_logo.svg') }}" alt="avatar" height="90">-->
<!--                                            </a>-->
<!--                                            <div class="row" style="font-size: 14px">-->
<!--                                                <div class="d-flex align-items-top mt-75 ms-1">-->
<!--                                                    <p><b>Адрес:</b><span style="font-size: calc(9px + 0.5vw)"> <a href="">0x6FaC1e909c842EC23BF7A7A40f5675f0b42c20B4</a></span></p>-->
<!--                                                </div>-->
<!--                                                <div class="d-flex align-items-top mt-75 ms-1">-->
<!--                                                    <p><b>Баланс:</b><span class="card-title"> <b>1.297036991 ETH</b></span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row d-flex align-items-end mt-75" style="text-align: center">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-lg-4 col-md-4">-->
<!--                                                    <button type="button" class="btn btn-sm btn-info waves-effect" style="width: 100%; margin: 2px; height: 35px">Просмотреть транзакции</button>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-4 col-md-4">-->
<!--                                                    <button type="button" class="btn btn-sm btn-success waves-effect" style="width: 100%; margin: 2px; height: 35px">Отправить транзакцию</button>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-4 col-md-4">-->
<!--                                                    <button type="button" class="btn btn-sm btn-warning waves-effect" style="width: 100%; margin: 2px; height: 35px">Получить 0,5 ETH</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- Wallet end -->
                        </div>
                    </div>
                    <!-- All user's wallets end-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addWallet" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 mx-50 pb-5">
                <h1 class="text-center mb-1">Добавить ETH кошелек</h1>
                <p class="text-center">Вы действительно хотите добавить новый кошелек?</p>
                <form id="addNewWallet" class="row gy-1 gx-2 mt-75" onsubmit="return false"
                      novalidate="novalidate">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-1 mt-2 waves-effect waves-float waves-light">
                            Добавить
                        </button>
                        <button type="reset" class="btn btn-outline-secondary mt-2 waves-effect" data-bs-dismiss="modal"
                                aria-label="Close">
                            Отказаться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importWallet" tabindex="-1" aria-labelledby="importNew" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 mx-50 pb-5">
                <h1 class="text-center mb-1">Импортировать ETH кошелек</h1>
                <!-- form -->
                <form id="importNewWallet11" class="row gy-1 gx-2 mt-75" onsubmit="return false"
                      novalidate="novalidate">
                    <div class="col-12">
                        <label class="form-label" for="modalAddCardNumber1"></label>
                        <div class="input-group input-group-merge">
                            <input id="modalAddCardNumber1" name="modalAddCard" class="form-control add-credit-card-mask"
                                   type="text" placeholder="Enter private key" aria-describedby="modalAddCard2"
                                   data-msg="Please enter your credit card number">
                            <span class="input-group-text cursor-pointer p-25" id="modalAddCard2">
                                                <span class="add-card-type"></span>
                                            </span>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-1 mt-2 waves-effect waves-float waves-light">
                            Импортировать
                        </button>
                        <button type="reset" class="btn btn-outline-secondary mt-2 waves-effect" data-bs-dismiss="modal"
                                aria-label="Close">
                            Отказаться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="send_transaction" tabindex="-1" aria-labelledby="importNew" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 mx-50 pb-5">
                <h1 class="text-center mb-1">Отправка <b>ETH</b></h1>
                <!-- form -->
                <form id="importNewWallet1" class="row gy-1 gx-2 mt-75" onsubmit="return false"
                      novalidate="novalidate">
                    <div class="col-12">
                        <div class="input-group input-group-merge">
                            <input id="modalAddCardNumber12" name="modalAddCard" class="form-control add-credit-card-mask"
                                   type="text" placeholder="Введите адрес получателя" aria-describedby="modalAddCard2"
                                   data-msg="Please enter your credit card number">
                        </div>
                        <div class="input-group input-group-merge mt-75">
                            <input id="modalAddCardNumber123" name="modalAddCard" class="form-control add-credit-card-mask"
                                   type="text" placeholder="Колличество ETH" aria-describedby="modalAddCard2"
                                   data-msg="Please enter your credit card number">
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-1 mt-2 waves-effect waves-float waves-light">
                            Отправить
                        </button>
                        <button type="reset" class="btn btn-outline-secondary mt-2 waves-effect" data-bs-dismiss="modal"
                                aria-label="Close">
                            Отказаться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
    $(window).on('load', function () {
        $.ajax({
            type: "GET",
            url: "/api/ethereum/wallets",
            success: function (response) {
                render_user_wallets(response)
            },
            error: function (response) {
            }
        })
        $('.content-wrapper').fadeIn("normal")
    });

    function render_user_wallets(wallets) {
        if (wallets.length > 0) {
            for (let wallet of wallets) {
                $("#wallets_list").append(
                    "<div class=\"col-xl-6 col-md-12 col-sm-12\">\n" +
                    "                                <div class=\"card shadow-none border cursor-pointer\">\n" +
                    "                                    <div class=\"card-body\">\n" +
                    "                                        <div class=\"d-flex\">\n" +
                    "                                            <a href=\"#\" class=\"me-25\">\n" +
                    "                                                <img src=\"{{ url_for('static', path='/app-assets/images/svg/ethereum_logo.svg') }}\" alt=\"avatar\" height=\"90\">\n" +
                    "                                            </a>\n" +
                    "                                            <div class=\"row\" style=\"font-size: 14px\">\n" +
                    "                                                <div class=\"d-flex align-items-top mt-75 ms-1\">\n" +
                    "                                                    <p><b>Адрес:</b><span style=\"font-size: calc(9px + 0.5vw)\"> <a target=\"_blank\" href=\"https://sepolia.etherscan.io/address/" + wallet.address + "\">" + wallet.address + "</a></span></p>\n" +
                    "                                                </div>\n" +
                    "                                                <div class=\"d-flex align-items-top mt-75 ms-1\">\n" +
                    "                                                    <p><b>Баланс:</b><span class=\"card-title\"> <b>" + wallet.balance + " ETH</b></span></p>\n" +
                    "                                                </div>\n" +
                    "                                            </div>\n" +
                    "                                        </div>\n" +
                    "                                        <div class=\"row d-flex align-items-end mt-75\" style=\"text-align: center\">\n" +
                    "                                            <div class=\"row\">\n" +
                    "                                                <div class=\"col-lg-4 col-md-4\">\n" +
                    "                                                    <button type=\"button\" class=\"btn btn-sm btn-primary waves-effect\" style=\"width: 100%; margin: 2px; height: 35px\">Просмотреть транзакции</button>\n" +
                    "                                                </div>\n" +
                    "                                                <div class=\"col-lg-4 col-md-4\">\n" +
                    "                                                    <button type=\"button\" class=\"btn btn-sm btn-success waves-effect\" style=\"width: 100%; margin: 2px; height: 35px\" data-bs-toggle=\"modal\" data-bs-target=\"#send_transaction\">Отправить транзакцию</button>\n" +
                    "                                                </div>\n" +
                    "                                                <div class=\"col-lg-4 col-md-4\">\n" +
                    "                                                    <button type=\"button\" class=\"btn btn-sm btn-info waves-effect\" style=\"width: 100%; margin: 2px; height: 35px\"><a href=\"https://sepoliafaucet.net/\" target=\"_blank\" style=\"color: white\">Получить 0.5 ETH</a></button>\n" +
                    "                                                </div>\n" +
                    "                                            </div>\n" +
                    "                                        </div>\n" +
                    "                                    </div>\n" +
                    "                                </div>\n" +
                    "                            </div>"
                )
            }
        }
    }

</script>
{% endblock %}
