{% extends 'elements/base.html' %}

{% block title %}
Crypto Wallet|Chat
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/app-assets/css/pages/app-chat.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/app-assets/css/pages/app-chat-list.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', path='/app-assets/css/themes/bordered-layout.css') }}">

{% endblock %}


{% block content %}
<div class="app-content content chat-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-area-wrapper container-xxl p-0" id="block">
        <div class="sidebar-left">
            <div class="sidebar">
                <!-- Chat Sidebar area -->
                <div class="sidebar-content">
                        <span class="sidebar-close-icon">
                            <i data-feather="x"></i>
                        </span>
                    <!-- Sidebar header start -->
                    <div class="chat-fixed-search">
                        <div class="d-flex align-items-center w-100">
                            <div>
                                <div class="avatar">
                                    <img src="{{ url_for('static', path='/app-assets/images/portrait/small/avatar-profile.jpg') }}"
                                         alt="user_avatar" class="round" height="42" width="42"/>
                                    <span class="avatar-status-online"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar header end -->

                    <!-- Sidebar Users start -->
                    <div class="chat-user-list-wrapper list-group">
                        <h4 class="chat-list-title">Пользователи</h4>
                        <ul class="chat-list-users">
                        </ul>
                        <div class="text-center no-users">
                            <h5>Кроме Вас в чате больше нет пользователей 😔</h5>
                        </div>
                    </div>
                    <!-- Sidebar Users end -->
                </div>
                <!--/ Chat Sidebar area -->

            </div>
        </div>
        <div class="content-right">
            <div class="content-wrapper container-xxl p-0">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <div class="body-content-overlay"></div>
                    <!-- Main chat area -->
                    <section class="chat-app-window">
                        <!-- Active Chat -->
                        <div class="active-chat">
                            <!-- Chat Header -->
                            <div class="chat-navbar">
                                <header class="chat-header">
                                    <div class="d-flex align-items-center">
                                        <div class="sidebar-toggle d-block d-lg-none me-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-menu font-medium-5">
                                                <line x1="3" y1="12" x2="21" y2="12"></line>
                                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                                <line x1="3" y1="18" x2="21" y2="18"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <!--/ Chat Header -->

                            <!-- User Chat messages -->
                            <div class="user-chats">
                                <div class="chats">
                                </div>
                            </div>
                            <!-- User Chat messages -->

                            <!-- Submit Chat form -->
                            <form class="chat-app-form" action="javascript:void(0);">
                                <div class="input-group input-group-merge me-1 form-send-message">
                                    <span class="speech-to-text input-group-text"><i data-feather="mic"
                                                                                     class="cursor-pointer"></i></span>
                                    <input type="text" class="form-control message"
                                           placeholder="Введите свое сообщение"/>
                                    <span class="input-group-text">
                                            <label for="attach-doc" class="attachment-icon form-label mb-0">
                                                <i data-feather="image" class="cursor-pointer text-secondary"></i>
                                                <input type="file" id="attach-doc" hidden accept="image/*">
                                            </label>
                                    </span>
                                </div>
                                <button type="submit" class="btn btn-primary send">
                                    <i data-feather="send"></i>
                                </button>
                            </form>
                            <!--/ Submit Chat form -->
                        </div>

                        <!--/ Active Chat -->
                    </section>
                    <!--/ Main chat area -->

                    <!-- User Chat profile right area -->
                    <div class="user-profile-sidebar">
                        <header class="user-profile-header">
                                <span class="close-icon">
                                    <i data-feather="x"></i>
                                </span>
                            <!-- User Profile image with name -->
                            <div class="header-profile-sidebar">
                                <div class="avatar box-shadow-1 avatar-border avatar-xl">
                                    <img src="{{ url_for('static', path='/app-assets/images/portrait/small/avatar-profile.jpg') }}"
                                         alt="user_avatar" height="70" width="70"/>
                                    <span class="avatar-status-busy avatar-status-lg"></span>
                                </div>
                                <h4 class="chat-user-name">Kristopher Candy</h4>
                                <span class="user-post">UI/UX Designer 👩🏻‍💻</span>
                            </div>
                            <!--/ User Profile image with name -->
                        </header>
                        <div class="user-profile-sidebar-area">
                            <!-- About User -->
                            <h6 class="section-label mb-1">About</h6>
                            <p>Toffee caramels jelly-o tart gummi bears cake I love ice cream lollipop.</p>
                            <!-- About User -->
                            <!-- User's personal information -->
                            <div class="personal-info">
                                <h6 class="section-label mb-1 mt-3">Personal Information</h6>
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <i data-feather="mail" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">kristycandy@email.com</span>
                                    </li>
                                    <li class="mb-1">
                                        <i data-feather="phone-call" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">+1(123) 456 - 7890</span>
                                    </li>
                                    <li>
                                        <i data-feather="clock" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">Mon - Fri 10AM - 8PM</span>
                                    </li>
                                </ul>
                            </div>
                            <!--/ User's personal information -->

                        </div>
                    </div>
                    <!--/ User Chat profile right area -->

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/app-assets/js/scripts/pages/app-chat.js') }}"></script>
<script src="{{ url_for('static', path='/app-assets/js/scripts/extensions/ext-component-blockui.js') }}"></script>

<script>


    $(document).ready(function () {
        $('.user-chats').scrollTop($('.user-chats > .chats').height());
    });

    $(window).on('load', function () {
        $.ajax({
            type: "GET",
            url: "/api/profile/get",
            success: function (response) {
                let user_data = {}
                if ('id' in response) {
                    user_data['id'] = response.id
                    user_data['username'] = response.username
                    if (response.avatar) {
                        user_data['avatar'] = response.avatar
                        $(".round").attr(
                            "src",
                            "https://cryptowallet.fra1.digitaloceanspaces.com/" + response.avatar + ""
                        )
                    }
                    $(".user-name").html(response.username)
                    user_wallets = response.wallets
                    connectSockets(user_data)
                }


            },
            error: function (response) {
            }
        })
        $('.dropdown-user').fadeIn(1000)
    })


    function renderUsers(data, user_data, connect) {
        let host_file = "https://cryptowallet.fra1.digitaloceanspaces.com/"
        if (connect) {
            let src = host_file + data.auth.avatar + ""
            if (data.auth.id !== user_data.id) {
                $(".no-users").css('display', 'none')
                let li = '<li class="user-profile-toggle" id="' + data.sid + '"></li>'
                let username = ' <div class="chat-info">\n' +
                    '<h5 class="mb-0">' + data.auth.username + '</h5>\n' +
                    '</div>'
                let avatar = '<span class="avatar">\n' +
                    '<img src=' + src + '\n' +
                    '     height="42"\n' +
                    '     width="42" alt="Generic placeholder image"/>\n' +
                    '     <span class="avatar-status-online"></span>\n' +
                    '</span>'
                $(".chat-list-users").append(li)
                $(".user-profile-toggle:last-child").append(avatar).append(username)
            }
        } else {
            $("#" + data.sid + "").remove()
        }

    }

    function connectSockets(user_data) {
        let socket = io("ws://127.0.0.1:8000", {path: '/ws/socket.io', auth: user_data});
        // event for connect
        socket.on("connect", function () {
            console.log('connect')
        });

        // event for connect error
        socket.on("connect_error", (error) => {
            console.log(error)
        });


        // sockets events
        socket.on('connect_user', function (data) {
            renderUsers(data, user_data, true)
        })

        socket.on('disconnect_user', function (data) {
            renderUsers(data, user_data, false)
        })

        socket.on('writes_message', function (data) {
            console.log('writers')
        })

        //


        // send message
        $(".chat-app-form").submit(function () {
            let message = $('.message').val();
            if (/\S/.test(message)) {
                socket.emit('new_message', {
                    'message': message,
                    'user_id': user_data.id,
                    'image': '',
                    'date': new Date()
                })
            }
        })


        $('.message').keypress(function () {
            socket.emit('writes_message', {'user_id': user_data.id})
        })
        //


        socket.on('update_message', function (data) {
            console.log(data.message.user_id)
            console.log(user_data.id)
            let profile_image = "{{ url_for('static', path='/app-assets/images/portrait/small/avatar-profile.jpg') }}"
            let username = '<p style="color: #0a6aa1">' + data.user.auth.username + '</p>'

            let html_message = '<div class="chat-content">' + '<p>' + data.message.message + ' ' + '<small style="color: #D8D8D8">11:40</small>' + '</p>' + '</div>';
            let first_html_message = '<div class="chat-content">' + username + '<p>' + data.message.message + ' ' + '<small style="color: #D8D8D8">11:40</small>' + '</p>' + '</div>'
            let chat_right = '<div class="chat chat-right"></div>'
            let chat_left = '<div class="chat chat-left user-' + data.user.auth.id + '"></div>'
            let chat_body = '<div class="chat-body"></div>'
            let chat_avatar = '<div class="chat-avatar">\n' +
                '<span class="avatar box-shadow-1 cursor-pointer">\n' +
                '<img src=' + profile_image + '\n' +
                '     alt="avatar" height="36" width="36"/>\n' +
                '</span>\n' +
                '</div>'


            if (data.message.user_id === user_data.id) {
                if ($('.chat-right:last-child').length) {
                    $('.chat-right:last-child .chat-body').append(html_message);
                } else {
                    $(".chats").append(chat_right)
                    $('.chat-right:last-child').append(chat_avatar).append(chat_body)
                    $('.chat-right:last-child .chat-body').append(html_message);
                }
            } else {
                if ($('.user-' + data.message.user_id + ':last-child').length) {
                    $('.user-' + data.message.user_id + ':last-child .chat-body').append(html_message);
                } else {
                    $(".chats").append(chat_left)
                    $('.user-' + data.message.user_id + ':last-child').append(chat_avatar).append(chat_body)
                    $('.user-' + data.message.user_id + ':last-child .chat-body').append(first_html_message)
                }
            }

            $('.message').val('');
            $('.user-chats').scrollTop($('.user-chats > .chats').height());
        })
    }


    // $(".close-icon, .content-area-wrapper").on("click", function () {
    //     $('li').removeClass('active');
    // })


    // const section = $("#block")
    //
    // // function myGreeting() {
    // //     $(".chat-application").css('display', 'block')
    // // }
    //
    // test(section, 1000)
    //
    // function test(section, time) {
    //     section.block({
    //         message: '<div class="spinner-border text-primary" role="status"></div>',
    //         timeout: time,
    //         css: {
    //             backgroundColor: 'transparent',
    //             border: '0'
    //         },
    //         overlayCSS: {
    //             backgroundColor: '#EBE9E9',
    //             opacity: 0.9
    //         }
    //     })
    // }


</script>
{% endblock %}
