<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td align="center" class="masthead">
                        <h1 style="text-align: center">Welcome</h1>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <h2>Hi {{ username }}</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra pretium massa, eu
                            volutpat metus scelerisque blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nunc vel lorem sit amet urna luctus finibus in non odio. Morbi sollicitudin risus justo,
                            eget feugiat lorem ultricies in. Nunc lectus sem, lacinia eu aliquam posuere, ullamcorper et
                            arcu. Nunc nibh justo, laoreet non dapibus volutpat, interdum quis urna. Cras tristique
                            lacinia convallis. Praesent molestie enim lectus. Nunc a finibus sapien. Etiam pretium
                            aliquam eros ut venenatis. Nunc scelerisque, urna at facilisis mattis, velit lacus laoreet
                            est, imperdiet faucibus tortor ante sit amet enim. Donec magna nibh, tristique et egestas
                            ut, gravida in urna. Fusce sit amet quam nec nibh porttitor eleifend. In in erat
                            pellentesque, ultricies mi vel, interdum erat. Ut rhoncus enim id dignissim vestibulum..</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
