{% extends "elements/base_auth.html" %}

{% block title %}
Login
{% endblock %}

{% block auth %}
<div class="card mb-0">
    <div class="card-body">
        <div class="brand-logo">
            <h2 class="brand-text text-dark ms-1">Вход</h2>
        </div>
        <div class="form-error text-center" style="color: red;">
        </div>
        <form class="auth-login-form mt-2" id="login_form" method="post">
            <div class="mb-1">
                <label for="login-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="login-email" name="login-email"
                       placeholder="john@example.com" aria-describedby="login-email" tabindex="1"
                       autofocus="">
            </div>

            <div class="mb-1">
                <div class="d-flex justify-content-between">
                    <label class="form-label" for="login-password">Пароль</label>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                    <input type="password" class="form-control form-control-merge"
                           id="login-password" name="login-password" tabindex="2"
                           placeholder="············" autocomplete="on" aria-describedby="login-password">
                    <span class="input-group-text cursor-pointer">
                        <svg
                                xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-eye"><path
                                d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="mb-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-me" tabindex="3" checked>
                    <label class="form-check-label" for="remember-me">Запомнить меня</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 waves-effect waves-float waves-light" tabindex="4">
                Войти
            </button>
        </form>

        <p class="text-center mt-2">
            <span>Впервые на нашей платформе?</span>
            <a href="/auth/registration">
                <span>Завести аккаунт</span>
            </a>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    $("#login_form").validate({
        submitHandler: function () {
            const email = $('#login-email').val()
            const password = $('#login-password').val()
            const remember_me = $("input[type='checkbox']").prop('checked')
            $.ajax({
                type: "POST",
                url: "/api/auth/login",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    email: email,
                    password: password,
                    rememberMe: remember_me
                }),
                success: function (response) {
                    if ('id' in response) {
                        location.reload()
                    }
                },
                error: function (response) {
                    if (response.status === 401) {
                        $(".form-error").html(
                            '<span id="login-email-error" class="error">Недействительные учетные данные.</span>'
                        )
                    }
                    if (response.status === 429) {
                        let time = parseInt(response.responseJSON[0].message.match(/\d+/))
                        $(".form-error").html(
                            '<span id="login-email-error" class="error">' +
                            'Слишком много запросов. Повторить через ' + time + ' сек.' +
                            '</span>'
                        )
                    }
                }
            })
        },
        rules: {
            'login-email': {
                required: true,
                email: true
            },

            'login-password': {
                required: true,
            },
        },
        messages: {
            'login-email': {
                required: "Это поле обязательно к заполнению.",
                email: "Пожалуйста, введите действительный адрес электронной почты."
            },
            'login-password': {
                required: "Это поле обязательно к заполнению.",
            },
        },
        errorElement: 'span',
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('error');
            if ($(element).parent().hasClass('input-group')) {
                $(element).parent().addClass('is-invalid');
            }
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('error');
            if ($(element).parent().hasClass('input-group')) {
                $(element).parent().removeClass('is-invalid');
            }
        }
    });
</script>


{% endblock %}
