{% extends "elements/base_auth.html" %}

{% block title %}
Registration
{% endblock %}

{% block auth %}
<div class="card mb-0">
    <div class="card-body">
        <div class="brand-logo">
            <h2 class="brand-text text-dark ms-1">Регистрация</h2>
        </div>


        <form class="auth-register-form mt-2" id="register-form" method="POST" novalidate="novalidate">
            <div class="mb-1">
                <label for="register-email" class="form-label">Email</label>
                <input type="text" class="form-control" id="register-email" name="register-email"
                       placeholder="john@example.com" aria-describedby="register-email" tabindex="2">
            </div>

            <div class="mb-1">
                <label for="register-username" class="form-label">Username</label>
                <input type="text" class="form-control" id="register-username" name="register-username"
                       placeholder="johndoe" aria-describedby="register-username" autocomplete="on"
                       tabindex="1" autofocus="">
            </div>

            <div class="mb-1">
                <label for="register-password" class="form-label">Password</label>

                <div class="input-group input-group-merge form-password-toggle">
                    <input type="password" class="form-control form-control-merge" id="register-password"
                           name="register-password" placeholder="············" aria-describedby="register-password"
                           tabindex="3" autocomplete="on">
                    <span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14"
                                                                       height="14" viewBox="0 0 24 24" fill="none"
                                                                       stroke="currentColor" stroke-width="2"
                                                                       stroke-linecap="round" stroke-linejoin="round"
                                                                       class="feather feather-eye"><path
                            d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12"
                                                                                            r="3"></circle></svg></span>
                </div>
            </div>
            <div class="mb-1">
                <label for="register-password2" class="form-label">Confirm password</label>

                <div class="input-group input-group-merge form-password-toggle">
                    <input type="password" class="form-control form-control-merge" id="register-password2"
                           name="register-password2" placeholder="············" aria-describedby="register-password"
                           tabindex="3" autocomplete="on">
                    <span class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14"
                                                                       height="14" viewBox="0 0 24 24" fill="none"
                                                                       stroke="currentColor" stroke-width="2"
                                                                       stroke-linecap="round" stroke-linejoin="round"
                                                                       class="feather feather-eye"><path
                            d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12"
                                                                                            r="3"></circle></svg></span>
                </div>
            </div>
            <a class="btn btn-primary w-100 waves-effect waves-float waves-light" id="register" tabindex="5">
                Зарегистрироваться
            </a>
        </form>
        <p class="text-center mt-2">
            <span>У вас уже есть аккаунт?</span>
            <a href="/auth/login">
                <span>Войти</span>
            </a>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    $("#register").on('click', function () {

        const email = $('#register-email').val()
        const username = $('#register-username').val()
        const password1 = $('#register-password').val()
        const password2 = $('#register-password2').val()
        ajax_register(email, password1, password2, username)

    });


    function ajax_register(email, password1, password2, username) {
        $.ajax({
            type: "POST",
            url: "/api/auth/register",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                email: email,
                password1: password1,
                password2: password2,
                username: username

            }),
            success: function (response) {
                if ('id' in response) {
                    location.reload()
                }
            },
            error: function (response) {
                console.log(response.status + ' ' + response.statusText);
                if (response.status === 401) {
                    console.log(response.status + ' ' + response.statusText);
                    $(".form-error").append(
                        '<span id="login-password-error" class="error">' + response.statusText + '</span>'
                    )
                }
            }
        })
    }

    $("#register-form").validate({
        rules: {
            'register-email': {
                required: true,
                email: true
            },
            'register-username': {
                required: true,
            },
            'register-password': {
                required: true,
            },
            'register-password2': {
                required: true,
            },
        },
        messages: {
            'login-email': {
                required: "Это поле обязательно к заполнению.",
                email: "Пожалуйста, введите действительный адрес электронной почты."
            },
            'login-username': {
                required: "Это поле обязательно к заполнению.",
            },
            'login-password': {
                required: "Это поле обязательно к заполнению.",
            },
            'login-password2': {
                required: "Это поле обязательно к заполнению.",
            },


        }
    });
</script>
{% endblock %}
